<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Matt and Matt's {{ title }}!
  </h1>
  <img width="400" alt="Angular Logo" src="../assets/welcome.jpg">
</div>
<h2>Beer List: </h2>
  <app-keg-list [childKegArray]="masterKegArray" (clickSender)="editKeg($event)"></app-keg-list>
  <app-edit-keg [childSelectedKeg]="selectedKeg" (clickedDone)="finishEdit()"></app-edit-keg>
  <app-new-keg (sendKeg)="addKeg($event)"></app-new-keg>
