<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Matt and Matt's {{ title }}!
  </h1>
  <img width="400" alt="Angular Logo" src="../assets/welcome.jpg">
</div>
<h2>Beer List: </h2>
<div *ngFor='let currentKeg of kegArray'>
  <h3 (click)="viewDetails(currentKeg)">{{currentKeg.name}} by {{currentKeg.brand}}- ${{currentKeg.price}}</h3>
  <div *ngIf="selectedKeg === currentKeg">
    <p>Alcohol Content: {{currentKeg.alcoholContent}}%</p>
    <p>Remaining Pints: {{currentKeg.volume}}/124</p>
  </div>
</div>
<form>
  <h3>Add a Keg</h3>
  <input [(ngModel)]="nameInput" type="text" name="name" placeholder="Beer Name" required>
  <input [(ngModel)]="brandInput" type="text" name="brand" placeholder="Brewery" required>
  <input [(ngModel)]="priceInput" type="number" name="price" placeholder="Price" required>
  <input [(ngModel)]="alcoholContentInput" type="number" name="alcohol" placeholder="Alcohol Content" required>
  <button (click)="addKeg(nameInput, brandInput, priceInput, alcoholContentInput)"type="button" name="button">Add Keg!</button>


</form>
