<div *ngIf="childEditableKeg">
  <h3>Edit {{childEditableKeg.name}}</h3>
  <input [(ngModel)]="childEditableKeg.name" type="text" name="name" placeholder="Beer Name" required>
  <input [(ngModel)]="childEditableKeg.brand" type="text" name="brand" placeholder="Brewery" required>
  <input [(ngModel)]="childEditableKeg.price" type="number" name="price" placeholder="Price" required>
  <input [(ngModel)]="childEditableKeg.alcoholContent" type="number" name="alcohol" placeholder="Alcohol Content" required>
  <button (click)="finishedEditing()"type="button" name="button">Commit Edit</button>
</div>
